[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = ros1
[submodule "src/mavros"]
	path = src/mavros
	url = https://github.com/mavlink/mavros.git
	branch = master
